@use "tailwindcss";

button {
    cursor: pointer;
}

.back-to-properties-section {
    > div {
        > a {
            display: inline-flex;
        }
    }
}
.container-main-aside {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    > main {
        width: 70%;
    }
    > aside {
        width: 30%;
    }
    @media screen and (max-width: 991px) {
        flex-flow: column nowrap;
        > main,
        > aside {
            width: 100%;
        }
    }
}
